:root,
html,
body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.home-container {
  color: white;
  background-color: #f50014;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  min-width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;

  & div.canada {
    font-size: 15em;
    position: fixed;
    font-weight: bolder;
    display: flex;
    right: -20px;
    top: -110px;
    letter-spacing: 0;

    & span {
      margin: 0 -10px;
      &:nth-child(2) {
        margin-top: 45px;
      }
      &:nth-child(3) {
        margin-top: 140px;
      }
    }
  }

  & div.container {
    margin-left: 15%;

    & p.welcome {
      display: block;
      font-size: 1.2em;
      font-weight: 600;
      margin: 0;
      padding: 0;
    }

    ul.nav {
      list-style: none;
      padding: 0;
      margin: 0;
      & li {
        font-size: 5em;
        display: flex;
        font-weight: bold;
        cursor: pointer;
        margin: 5px 0;
        & a {
          color: inherit;
          display: inherit;

          & span.arrow {
            display: flex;
            height: inherit;
            align-items: center;
            margin-left: 20px;
            transition: margin 0.5s ease-in-out;
          }

          &:hover span.arrow {
            margin-left: 40px;
          }
        }
      }
    }
  }

  & div.bar {
    position: fixed;
    bottom: 70px;
    right: -30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    font-weight: bold;
    transform: rotate(90deg);

    & hr {
      margin-left: 10px;
      width: 25px;
      border: none !important;
      height: 2px;
      border-radius: 2px;
      background-color: white;
    }
  }

  @media (max-width: 1024px) {
    div.canada {
      font-size: 10em;
      top: -70px;
      right: -8px;

      & span {
        margin: 0 -8px;
        &:nth-child(2) {
          margin-top: 27px;
        }
        &:nth-child(3) {
          margin-top: 90px;
        }
      }
    }

    & div.container {
      & p.welcome {
        font-size: 1em;
      }

      ul.nav {
        & li {
          font-size: 4em;
        }
      }
    }
  }

  @media (max-width: 768px) {
    div.canada {
      font-size: 8em;
      top: -57px;
      right: -8px;

      & span {
        margin: 0 -5px;
        &:nth-child(2) {
          margin-top: 20px;
        }
        &:nth-child(3) {
          margin-top: 80px;
        }
      }
    }

    & div.container {
      margin-left: 15%;

      & p.welcome {
        font-size: 1em;
      }

      ul.nav {
        & li {
          font-size: 3.5em;
        }
      }
    }
  }

  @media (max-width: 480px) {
    div.canada {
      font-size: 5em;
      top: -35px;
      right: -8px;

      & span {
        margin: 0 -3px;
        &:nth-child(2) {
          margin-top: 13px;
        }
        &:nth-child(3) {
          margin-top: 45px;
        }
      }
    }

    & div.container {
      & p.welcome {
        font-size: 0.8em;
      }

      ul.nav {
        & li {
          font-size: 2.5em;
          & a {
            & span.arrow {
              margin-left: 10px;
            }

            &:hover span.arrow {
              margin-left: 30px;
            }
          }
        }
      }
    }
  }
}
