@keyframes dotAnimation {
  from {
    bottom: 0;
  }
  50% {
    bottom: 8px;
  }
  to {
    bottom: 0;
  }
}

@keyframes searchingLoaderAnimation {
  form {
    opacity: 0;
    left: 30%;
    bottom: 30%;
  }
  50% {
    opacity: 0.7;
    left: 35%;
    bottom: 40%;
  }
  75% {
    opacity: 1;
    left: 35%;
    bottom: 40%;
  }
  to {
    opacity: 1;
    left: 35%;
    bottom: 40%;
  }
}

@mixin canadaLoaderMixin($name, $from, $to) {
  @keyframes canadaLoaderAnimation-#{$name} {
    from {
      opacity: 0;
      top: $from;
    }
    50% {
      top: $to;
      opacity: 0.7;
    }
    to {
      top: $to;
      opacity: 1;
    }
  }
}

@keyframes loaderAnimation {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes shadowLoaderAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@include canadaLoaderMixin("xs", -50px, -40px);
@include canadaLoaderMixin("sm", -75px, -62px);
@include canadaLoaderMixin("lm", -90px, -80px);
@include canadaLoaderMixin("lg", -45px, -40px);

div.page-container {
  --red: #f50014;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-weight: bold;
  font-size: large;
  position: relative;
  color: white;
  overflow: hidden;

  &.toronto {
    background-image: url("../images/1_Toronto_payoff_desktop.jpg");
  }

  &.monteral {
    background-image: url("../images/1_Montreal_payoff_desktop.jpg");
  }

  &.vancouver {
    background-image: url("../images/1_Vancouver_payoff_desktop.jpg");
  }

  & div.shadow-loader {
    position: absolute;
    background: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation-name: shadowLoaderAnimation;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 1.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
  }

  & div.loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    background-color: var(--red);
    z-index: 100;
    animation-name: loaderAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;

    & div.canada-loader {
      font-size: 15em;
      position: absolute;
      font-weight: bolder;
      display: flex;
      right: -20px;
      top: -20%;
      letter-spacing: 0;
      animation-name: canadaLoaderAnimation-lg;
      animation-duration: 2s;
      animation-timing-function: ease-in-out;
      animation-delay: 0s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-direction: normal;

      & span {
        margin: 0 -8px;
        &:nth-child(2) {
          margin-top: 30px;
        }
        &:nth-child(3) {
          margin-top: 100px;
        }
      }
    }

    & div.searching-loader {
      position: absolute;
      bottom: 30%;
      left: 30%;
      font-size: 1.8em;
      font-weight: bolder;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      white-space: nowrap;
      opacity: 0;
      animation-name: searchingLoaderAnimation;
      animation-duration: 2s;
      animation-timing-function: ease-in-out;
      animation-delay: 0s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-direction: normal;

      & span.three-dot {
        display: inline-block;
        height: inherit;
        position: relative;

        & span {
          display: inline-block;
          position: relative;
          animation-name: dotAnimation;
          animation-duration: 0.8s;
          animation-timing-function: ease-in-out;
          animation-delay: 0;
          animation-iteration-count: infinite;
          animation-direction: normal;
          width: 8px;
          height: 8px;
          &:nth-child(2) {
            animation-delay: 0.1s;
          }
          &:nth-child(3) {
            animation-delay: 0.2s;
          }
        }
      }
    }
  }

  & div.page {
    position: relative;
    display: flex;
    align-items: center;
    width: inherit;
    height: inherit;

    & div.shadow {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(
        to right,
        rgba(22, 21, 21, 0.747) 2%,
        transparent 80%
      );
    }

    & .container {
      margin-left: 15%;
      z-index: 10;

      & div.town-name {
        color: var(--red);
        font-size: 5em;
        font-weight: bolder;
      }

      & div.town-description {
      }

      & div.canada-page {
        display: flex;
        align-items: center;
        color: var(--red);
        font-size: 3em;
        margin-top: 20px;
        letter-spacing: 5px;

        & span {
          &.small-letters {
            font-size: 0.8em;
            margin: 0 -4px;
          }

          &.big-one,
          &.big-second {
            font-size: 1em;
            margin: 0 -4px;
          }

          &.big-second {
            margin-top: 20px;
          }
        }

        & span.flower {
          align-self: flex-start;
          height: 100%;
          margin-top: 18px;
          display: flex;
          align-items: flex-start;
        }
      }
    }
  }

  & div.explore {
    position: absolute;
    bottom: 55px;
    right: -30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    color: var(--red);
    font-weight: bold;
    transform: rotate(90deg);

    & hr {
      margin-left: 10px;
      width: 35px;
      border: none !important;
      height: 2px;
      border-radius: 2px;
      background-color: var(--red);
    }
  }

  @media (max-width: 1024px) {
    & div.loader {
      & div.canada-loader {
        font-size: 10em;
        top: -70px;
        right: -8px;
        animation-name: canadaLoaderAnimation-lm;

        & span {
          margin: 0 -8px;
          &:nth-child(2) {
            margin-top: 27px;
          }
          &:nth-child(3) {
            margin-top: 90px;
          }
        }
      }

      & div.searching-loader {
        bottom: 30%;
        left: 30%;
        font-size: 1.8em;

        & span.three-dot {
          & span {
            width: 8px;
            height: 8px;
          }
        }
      }
    }

    & div.page {
      & .container {
        & div.town-name {
          font-size: 4.5em;
        }

        & div.town-description {
          font-size: large;
        }

        & div.canada-page {
          font-size: 3em;
          margin-top: 20px;

          & span {
            &.small-letters {
              font-size: 0.8em;
              margin: 0 -4px;
            }

            &.big-one,
            &.big-second {
              font-size: 1em;
              margin: 0 -4px;
            }

            &.big-second {
              margin-top: 20px;
            }
          }

          & span.flower {
            margin-top: 18px;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    & div.loader {
      & div.canada-loader {
        font-size: 8em;
        top: -57px;
        right: -8px;
        animation-name: canadaLoaderAnimation-sm;

        & span {
          margin: 0 -5px;
          &:nth-child(2) {
            margin-top: 20px;
          }
          &:nth-child(3) {
            margin-top: 80px;
          }
        }
      }

      & div.searching-loader {
        bottom: 30%;
        left: 30%;
        font-size: 1.8em;

        & span.three-dot {
          & span {
            width: 8px;
            height: 8px;
          }
        }
      }
    }

    & div.page {
      & .container {
        & div.town-name {
          font-size: 3.5em;
        }

        & div.town-description {
          font-size: 16px;
        }

        & div.canada-page {
          font-size: 3em;
          margin-top: 15px;

          & span {
            &.small-letters {
              font-size: 0.7em;
              margin: 0 -4px;
            }

            &.big-one,
            &.big-second {
              font-size: 0.9em;
              margin: 0 -4px;
            }

            &.big-second {
              margin-top: 20px;
            }
          }

          & span.flower {
            margin-top: 16px;
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    & div.loader {
      & div.canada-loader {
        font-size: 5em;
        top: -35px;
        right: -8px;
        animation-name: canadaLoaderAnimation-xs;

        & span {
          margin: 0 -3px;
          &:nth-child(2) {
            margin-top: 13px;
          }
          &:nth-child(3) {
            margin-top: 45px;
          }
        }
      }

      & div.searching-loader {
        bottom: 30%;
        left: 30%;
        font-size: 1em;

        & span.three-dot {
          & span {
            width: 8px;
            height: 8px;
          }
        }
      }
    }

    & div.page {
      & .container {
        & div.town-name {
          font-size: 2.5em;
        }

        & div.town-description {
          font-size: 9px;
        }

        & div.canada-page {
          font-size: 1.2em;
          margin-top: 10px;

          & span {
            &.small-letters {
              font-size: 0.6em;
              margin: 0 -3px;
            }

            &.big-one,
            &.big-second {
              font-size: 0.9em;
              margin: 0 -3px;
            }

            &.big-second {
              margin-top: 8px;
            }
          }

          & span.flower {
            margin-top: 10px;

            & svg {
              font-size: 9px;
            }
          }
        }
      }
    }
  }
}
